*.pyc
*.py.1
.coverage
.emacs.desktop
.emacs.desktop.lock
build
dist
DTD
examples/jet_set_willy.ctl
examples/manic_miner.ctl
MANIFEST
snapshots
tests/cover
tests/test_disassemblies_*.py
untracked
XSD
