body {
  color: #ffffff;
  background-color: #221100;
}
a {
  color: #ffff00;
}
a:hover, a.map-entry-title:hover {
  color: #00ffff;
}
div.box-1, div.list-entry-1 {
  background-color: #553311;
}
div.box-2, div.list-entry-2 {
  background-color: #442200;
}
table table.default th, table.default th {
  background-color: #775533;
}
table table.default td, table.default td {
  background-color: #553311;
}
table.asm-navigation td {
  background-color: #443322;
}
table.input td, table.output td {
  background-color: #3f3f3f;
}
table.input th, table.output th {
  background-color: #5f5f5f;
}
span.register, td.register {
  color: #ff7fff;
}
td.asm-label, td.address-1, td.address-2 {
  color: #00ffff;
}
td.bytes {
  color: #7f7fff;
}
td.instruction {
  color: #ff7fff;
}
td.comment-1 {
  background-color: #332211;
}
table.map th {
  background-color: #775533;
}
table.map td {
  background-color: #442200;
}
td.map-c-desc {
  color: #7fff7f;
}
td.map-b-desc, td.map-w-desc {
  color: #ff7fff;
}
td.map-g-desc {
  color: #7fffff;
}
td.map-t-desc {
  color: #7f7f7f;
}
div.map-entry-title-11, div.map-entry-desc, td.map-s-desc, td.map-u-desc {
  color: #ffffff;
}
