@font-face {
  font-family: 'spectrum';
  src: url(spectrum.ttf);
}
body {
  background-color: #cdc6cd;
  font-family: spectrum;
  font-size: 16px;
}
table.header td {
  font-weight: normal;
  font-size: 100%;
}
div.headerText {
  font-weight: normal;
  font-size: 100%;
}
span.register {
  color: #00c600;
}
div.box {
  width: 960px;
}
div.boxTitle {
  font-size: 100%;
  font-weight: normal;
  text-decoration: underline;
}
div.box1, div.changelog1 {
  background-color: #00c6c5;
}
div.box2, div.changelog2 {
  background-color: #00ffff;
}
table table.default th, table.default th {
  background-color: #00c6c5;
}
table table.default td, table.default td {
  background-color: #00ffff;
}
table.prevNext td {
  background-color: #00ffff;
}
table.disassembly, table.dataDisassembly {
  width: 960px;
}
div.description {
  font-weight: normal;
}
table.input td, table.output td {
  background-color: #ffff00;
}
table.input th, table.output th {
  background-color: #c5c600;
}
td.register {
  color: #00c600;
}
td.asmLabel, td.label, td.address, td.instruction {
  font-weight: normal;
  font-family: spectrum;
}
td.instruction {
  color: #00c600;
}
td.comment, td.dataComment {
  background-color: #00ffff;
}
table.map th {
  background-color: #00c6c5;
}
table.map td {
  background-color: #00ffff;
}
td.routineDesc {
  color: #c500c5;
}
td.dataDesc {
  color: #00c600;
}
td.gbufferDesc {
  color: #c50000;
}
td.messageDesc {
  color: #0000c5;
  font-family: spectrum;
}
table.gbuffer th {
  background-color: #c5c600;
}
table.gbuffer td {
  background-color: #ffff00;
}
div.gbufDesc {
  font-weight: normal;
}
div.changelog {
  width: 960px;
}
div.changelogTitle {
  font-size: 100%;
  font-weight: normal;
  text-decoration: underline;
}
