/* ZX-Spectrum font */
@font-face {
  font-family: 'spectrum';
  src: url(spectrum.ttf);
}

/* Universal/generic */
body {
  color: #000000;
  background-color: #cdc6cd;
  font-family: spectrum;
  font-size: 16px;
}
img {
  border-width: 0px;
}
a.link {
  text-decoration: none;
  color: #0000ff;
}
a.link:hover {
  color: #ff0000;
}
table.header td {
  vertical-align: middle;
  padding-top: 0px;
  padding-bottom: 0px;
}
td.headerText {
  white-space: nowrap;
}
div.footer {
  clear: both;
  margin-top: 10px;
  text-align: center;
}
td.transparent {
  background-color: #cdc6cd !important;
}
ul.linkList {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
span.register {
  color: #00c600;
}
div.box {
  width: 960px;
  padding: 6px;
  margin-bottom: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
div.boxTitle {
  text-decoration: underline;
}
div.box p {
  margin-bottom: 0px;
}
div.box1 {
  background-color: #00c6c5;
}
div.box2 {
  background-color: #00ffff;
}
div.paragraph {
  margin-top: 10px;
}
table.default th {
  background-color: #00c6c5 !important;
}
table.default td {
  background-color: #00ffff !important;
}
td.centre {
  text-align: center;
}

/* Home page */
ul.indexList {
  list-style-type: none;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 20px;
}

/* Disassembly pages */
table.prevNext {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}
table.prevNext td {
  background-color: #00ffff;
}
table.prevNext td.prev {
  width: 30%;
  text-align: left;
}
table.prevNext td.up {
  width: 40%;
  text-align: center;
}
table.prevNext td.next {
  width: 30%;
  text-align: right;
}
table.disassembly {
  width: 960px;
}
table.dataDisassembly {
  width: 960px;
}
div.description {
  margin-top: 10px;
}
div.details {
  margin-bottom: 10px;
}
div.comments {
  margin-top: 10px;
  margin-bottom: 10px;
}
table.input, table.output {
  margin-bottom: 10px;
}
table.input td {
  background-color: #ffff00;
}
table.output td {
  background-color: #ffff00;
}
table.input th {
  background-color: #c5c600;
}
table.output th {
  background-color: #c5c600;
}
td.register {
  color: #00c600;
  width: 20px;
  text-align: center;
}
td.label {
  color: #ff0000;
  vertical-align: top;
  padding-right: 10px;
}
td.address {
  color: #ff0000;
  vertical-align: top;
  padding-right: 10px;
}
td.instruction {
  color: #00c600;
  vertical-align: top;
  white-space: pre;
  padding-right: 10px;
}
td.comment {
  background-color: #00ffff;
  width: 960px;
  vertical-align: top;
}
td.dataComment {
  background-color: #00ffff;
  width: 960px;
  vertical-align: top;
}
td.routineComment {
  padding-left: 0px;
}
td.transparentComment {
  width: 960px;
}
td.transparentDataComment {
  width: 960px;
}

/* Maps */
table.map th {
  background-color: #00c6c5;
}
table.map td {
  background-color: #00ffff;
}
div.mapIntro {
  margin-bottom: 10px;
}
td.mapPage {
  text-align: center;
}
td.mapByte {
  text-align: center;
}
td.routine {
  text-align: center;
}
td.routineDesc {
  color: #c500c5;
}
td.data {
  text-align: center;
}
td.dataDesc {
  color: #00c600;
}
td.gbuffer {
  text-align: center;
}
td.gbufferDesc {
  color: #c50000;
}
td.message {
  text-align: center;
}
td.messageDesc {
  color: #0000c5;
}
td.unused {
  text-align: center;
}
td.unusedDesc {
  color: #000000;
}

/* Game status buffer */
table.gbuffer th {
  background-color: #c5c600;
}
table.gbuffer td {
  background-color: #ffff00;
}
td.gbufAddress {
  text-align: center;
  vertical-align: top;
}
td.gbufLength {
  text-align: center;
  vertical-align: top;
}

/* Graphic glitches */
table.gglitch {
  border-collapse: collapse;
}
table.gglitch td {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  padding: 5px;
}

/* Changelog */
div.changelog {
  width: 960px;
  padding: 6px;
  margin-bottom: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
div.changelog1 {
  background-color: #00c6c5;
}
div.changelog2 {
  background-color: #00ffff;
}
div.changelogTitle {
  text-decoration: underline;
}
div.changelogDesc {
  margin-top: 5px;
}
ul.changelog {
  margin-top: 5px;
  margin-bottom: 0px;
}
