/* Universal/generic */
body {
  color: #ffffff;
  background-color: #221100;
}
a.link {
  color: #ffff00;
}
a.link:hover {
  color: #00ffff;
}
td.transparent {
  background-color: #221100 !important;
}
span.register {
  color: #ff7fff;
}
div.box1 {
  background-color: #553311;
}
div.box2 {
  background-color: #442200;
}
table table.default th, table.default th {
  background-color: #775533;
}
table table.default td, table.default td {
  background-color: #553311;
}

/* Disassembly pages */
table.prevNext td {
  background-color: #443322;
}
table.input td {
  background-color: #3f3f3f;
}
table.output td {
  background-color: #3f3f3f;
}
table.input th {
  background-color: #5f5f5f;
}
table.output th {
  background-color: #5f5f5f;
}
td.register {
  color: #ff7fff;
}
td.asmLabel, td.label {
  color: #00ffff;
}
td.address {
  color: #00ffff;
}
td.instruction {
  color: #ff7fff;
}
td.comment, td.dataComment {
  background-color: #332211;
}

/* Maps */
table.map th {
  background-color: #775533;
}
table.map td {
  background-color: #442200;
}
td.routineDesc {
  color: #7fff7f;
}
td.dataDesc {
  color: #ff7fff;
}
td.gbufferDesc {
  color: #7fffff;
}
td.messageDesc {
  color: #aaaaaa;
}
td.unusedDesc {
  color: #ffffff;
}

/* Game status buffer */
table.gbuffer th {
  background-color: #775533;
}
table.gbuffer td {
  background-color: #442200;
}

/* Graphic glitches */
table.gglitch td {
  border-color: #000000;
}

/* Changelog */
div.changelog1 {
  background-color: #553311;
}
div.changelog2 {
  background-color: #442200;
}
