/* Universal/generic */
body {
  color: #000000;
  background-color: #ddeeff;
  font-family: sans;
}
img {
  border-width: 0px;
}
a.link {
  text-decoration: none;
  color: #0000ff;
}
a.link:hover {
  color: #ff0000;
}
table.header td {
  vertical-align: middle;
  font-weight: bold;
  font-size: 150%;
  padding-top: 0px;
  padding-bottom: 0px;
}
td.headerText {
  white-space: nowrap;
}
div.headerText {
  font-weight: bold;
  font-size: 125%;
}
div.footer {
  clear: both;
  margin-top: 10px;
  text-align: center;
}
td.transparent {
  background-color: #ddeeff !important;
}
ul.linkList {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
span.register {
  color: #008000;
}
div.box {
  width: 800px;
  padding: 6px;
  margin-bottom: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
div.boxTitle {
  font-size: 150%;
  font-weight: bold;
}
div.box p {
  margin-bottom: 0px;
}
div.box1 {
  background-color: #aaccee;
}
div.box2 {
  background-color: #bbddff;
}
div.paragraph {
  margin-top: 10px;
}
table.default th {
  background-color: #88aacc;
}
table.default td {
  background-color: #aaccee !important;
}
td.centre {
  text-align: center;
}

/* Home page */
ul.indexList {
  list-style-type: none;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 20px;
}

/* Disassembly pages */
table.prevNext {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}
table.prevNext td {
  background-color: #bbccdd;
}
table.prevNext td.prev {
  width: 30%;
  text-align: left;
}
table.prevNext td.up {
  width: 40%;
  text-align: center;
}
table.prevNext td.next {
  width: 30%;
  text-align: right;
}
table.disassembly {
  width: 640px;
}
table.dataDisassembly {
  width: 800px;
}
div.description {
  margin-top: 10px;
  font-weight: bold;
}
div.details {
  margin-bottom: 10px;
}
div.comments {
  margin-top: 10px;
  margin-bottom: 10px;
}
table.input, table.output {
  margin-bottom: 10px;
}
table.input td {
  background-color: #c0c0c0;
}
table.output td {
  background-color: #c0c0c0;
}
table.input th {
  background-color: #a0a0a0;
}
table.output th {
  background-color: #a0a0a0;
}
td.register {
  color: #008000;
  width: 20px;
  text-align: center;
}
td.label {
  color: #ff0000;
  font-weight: bold;
  font-family: monospace;
  vertical-align: top;
  padding-right: 10px;
}
td.address {
  color: #ff0000;
  font-family: monospace;
  vertical-align: top;
  padding-right: 10px;
}
td.instruction {
  color: #008000;
  font-family: monospace;
  vertical-align: top;
  white-space: pre;
  padding-right: 10px;
}
td.comment {
  background-color: #ccddee;
  width: 640px;
  vertical-align: top;
}
td.dataComment {
  background-color: #ccddee;
  width: 800px;
  vertical-align: top;
}
td.routineComment {
  padding-left: 0px;
}
td.transparentComment {
  width: 640px;
}
td.transparentDataComment {
  width: 800px;
}

/* Maps */
table.map th {
  background-color: #88aacc;
}
table.map td {
  background-color: #bbddff;
}
div.mapIntro {
  margin-bottom: 10px;
}
td.mapPage {
  text-align: center;
}
td.mapByte {
  text-align: center;
}
td.routine {
  text-align: center;
}
td.routineDesc {
  color: #800080;
}
td.data {
  text-align: center;
}
td.dataDesc {
  color: #008000;
}
td.gbuffer {
  text-align: center;
}
td.gbufferDesc {
  color: #800000;
}
td.message {
  text-align: center;
}
td.messageDesc {
  color: #555555;
  font-family: monospace;
}
td.unused {
  text-align: center;
}
td.unusedDesc {
  color: #000000;
}

/* Game status buffer */
table.gbuffer th {
  background-color: #88aacc;
}
table.gbuffer td {
  background-color: #bbddff;
}
td.gbufAddress {
  text-align: center;
  vertical-align: top;
}
td.gbufLength {
  text-align: center;
  vertical-align: top;
}
div.gbufDesc {
  font-weight: bold;
}

/* Graphic glitches */
table.gglitch {
  border-collapse: collapse;
}
table.gglitch td {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  padding: 5px;
}

/* Changelog */
div.changelog {
  width: 800px;
  padding: 6px;
  margin-bottom: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
div.changelog1 {
  background-color: #aaccee;
}
div.changelog2 {
  background-color: #bbddff;
}
div.changelogTitle {
  font-size: 150%;
  font-weight: bold;
}
div.changelogDesc {
  margin-top: 5px;
}
ul.changelog {
  margin-top: 5px;
  margin-bottom: 0px;
}
