body {
  color: #000000;
  background-color: #ddeeff;
  font-family: sans;
}
img {
  border-width: 0;
}
a.link {
  text-decoration: none;
  color: #0000ff;
}
a.link:hover {
  color: #ff0000;
}
table.header td {
  vertical-align: middle;
  font-weight: bold;
  font-size: 150%;
  padding-top: 0;
  padding-bottom: 0;
}
td.headerText {
  white-space: nowrap;
}
div.headerText {
  font-weight: bold;
  font-size: 125%;
}
div.footer {
  clear: both;
  margin-top: 10px;
  text-align: center;
}
td.transparent {
  background-color: transparent !important;
}
ul.linkList {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
span.register {
  color: #008000;
}
div.box {
  width: 800px;
  padding: 6px;
  margin-bottom: 10px;
  border-radius: 10px;
}
div.boxTitle {
  font-size: 150%;
  font-weight: bold;
}
div.box p {
  margin-bottom: 0;
}
div.box1, div.changelog1 {
  background-color: #aaccee;
}
div.box2, div.changelog2 {
  background-color: #bbddff;
}
div.paragraph {
  margin-top: 10px;
}
table table.default th, table.default th {
  background-color: #88aacc;
}
table table.default td, table.default td {
  background-color: #aaccee;
}
td.centre {
  text-align: center;
}
ul.indexList {
  list-style-type: none;
  margin-top: 0;
  margin-left: 0;
  padding-left: 20px;
}
table.prevNext {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}
table.prevNext td {
  background-color: #bbccdd;
}
table.prevNext td.prev {
  width: 30%;
  text-align: left;
}
table.prevNext td.up {
  width: 40%;
  text-align: center;
}
table.prevNext td.next {
  width: 30%;
  text-align: right;
}
table.disassembly, table.dataDisassembly {
  width: 800px;
}
div.description {
  margin-top: 10px;
  font-weight: bold;
}
div.details {
  margin-bottom: 10px;
}
div.comments {
  margin-top: 10px;
  margin-bottom: 10px;
}
table.input, table.output {
  margin-bottom: 10px;
}
table.input td, table.output td {
  background-color: #c0c0c0;
}
table.input th, table.output th {
  background-color: #a0a0a0;
}
td.register {
  color: #008000;
  width: 20px;
  text-align: center;
}
td.asmLabel, td.label, td.address, td.instruction {
  font-family: monospace;
  vertical-align: top;
  padding-right: 10px;
}
td.asmLabel, td.label, td.address {
  color: #ff0000;
}
td.asmLabel, td.label {
  font-weight: bold;
}
td.instruction {
  color: #008000;
  white-space: pre;
}
td.comment, td.dataComment {
  background-color: #ccddee;
  vertical-align: top;
}
td.routineComment {
  padding-left: 0;
}
td.comment, td.dataComment, td.transparentComment, td.transparentDataComment {
  width: 100%;
}
table.gbuffer th, table.map th {
  background-color: #88aacc;
}
table.gbuffer td, table.map td {
  background-color: #bbddff;
}
div.mapIntro {
  margin-bottom: 10px;
}
td.mapPage, td.mapByte, td.routine, td.data, td.gbuffer, td.message, td.unused {
  text-align: center;
}
td.routineDesc {
  color: #800080;
}
td.dataDesc {
  color: #008000;
}
td.gbufferDesc {
  color: #800000;
}
td.messageDesc {
  color: #555555;
  font-family: monospace;
}
td.unusedDesc {
  color: #000000;
}
td.gbufAddress, td.gbufLength {
  text-align: center;
  vertical-align: top;
}
div.gbufDesc {
  font-weight: bold;
}
table.gglitch {
  border-collapse: collapse;
}
table.gglitch td {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  padding: 5px;
}
div.changelog {
  width: 800px;
  padding: 6px;
  margin-bottom: 10px;
  border-radius: 10px;
}
div.changelogTitle {
  font-size: 150%;
  font-weight: bold;
}
div.changelogDesc {
  margin-top: 5px;
}
ul.changelog {
  margin-top: 5px;
  margin-bottom: 0;
}
