Source: skoolkit
Maintainer: Richard Dymond <rjdymond@gmail.com>
Section: python
Priority: optional
Build-Depends: python3 (>= 3.5), debhelper (>= 7.4.3), dh-python (>= 1.20140128)
Standards-Version: 3.9.6
X-Python3-Version: >= 3.5

Package: skoolkit
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Tools for creating disassemblies of ZX Spectrum programs
 SkoolKit is a collection of utilities that can be used to disassemble a
 Spectrum game (or indeed any piece of Spectrum software written in machine
 code) into a format known as a skool file. Then, from this skool file, you can
 use SkoolKit to create a browsable disassembly in HTML format, or a
 re-assemblable disassembly in ASM format. So the skool file is - from start to
 finish as you develop it by organising and annotating the code - the common
 'source' for both the reader-friendly HTML version of the disassembly, and the
 developer- and assembler-friendly ASM version of the disassembly.
